{
        "template": {
                "query": {
                        "multi_match": {
                                "query": "{{query}}", 
                                "type": "{{field_type}}",
                                "operator":"and",
                                "fields": ["{{singers_type}}", "{{song_name_type}}", "{{album_name_type}}","{{context_type}}"]
                                }
                }
        }
}
