{
        "template": {
                "query": {
                        "multi_match": {
                                "query": "{{query}}", 
                                "type": "{{field_type}}", 
                                "fields": ["{{category_type}}", "{{sub_category_type}}","{{album_type}}", "{{track_type}}"]
                                }
                }
        }
}
