<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>
         <setting name="cacheEnabled" value="false"/>
         <setting name="mapUnderscoreToCamelCase" value="true" />
     </settings>
    <typeHandlers>
        <typeHandler handler="im.vinci.server.common.dbhandler.ValueNodeStringTypeHandler" javaType="com.fasterxml.jackson.databind.JsonNode" />
    </typeHandlers>
</configuration>